.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.App__container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}